<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="formatLetter" value="dd \de MMMM \del yyyy"/>
    <add key="formatHourInitial" value="hh:mm"/>
    <add key="formatHourFinal" value="hh:mm tt"/>
    <add key="hourInitial" value="09"/>
    <add key="minuteInitial" value="00"/>
    <add key="hourFinal" value="04"/>
    <add key="minuteFinal" value="00"/>
    <add key="indexInitial" value="0"/>
    <!--Value indica que es AM-->
    <add key="indexFinal" value="1"/>
    <!--Value indica que es PM-->
    <add key="routeInvitacionDocx" value="Resources/INVITACION.rtf"/>
    
    <!-- Posiciones de excel -->
    <add key="positionCredito" value="0"/>
    <add key="positionCalle" value="6"/>
    <add key="positionColonia" value="7"/>
    <add key="positionName" value="5"/>
      
  </appSettings>
  <system.web>
    <globalization uiCulture="es" culture="es-MX"/>

    <compilation>
      <assemblies>
        <add assembly="AjaxControlToolkit" />
      </assemblies>
    </compilation>
    
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
</configuration>
