<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="ConfigDataAccess" type="DataAccess.ConfigDataAccess"/>
	</configSections>
	<!-- Seccion de configuracion para el accesso a datos "Generico"-->
	<ConfigDataAccess TypeDBManager="SQLServer" ConnectionString="workstation id=controlcasa.mssql.somee.com;packet size=4096;user id=rockbass2560_SQLLogin_1;pwd=e6iz5pm2d9;data source=controlcasa.mssql.somee.com;persist security info=False;initial catalog=controlcasa"/>
	<appSettings>
		<!--{0} representa el id de la casa-->
		<add key="folderImages" value="images/casas/{0}.jpg"/>
		<add key="folderCasas" value="/images/casas"/>
		<add key="formatPrice" value="$ ###,### Pesos"/>
		<add key="telefono" value="6671249141"/>
		<add key="vendedor" value="Inmobiliaria Irving"/>
		<add key="email" value="francisco_gon18@hotmail.com"/>
		<add key="precioMenor" value="100000"/>
		<add key="precioMayor" value="5000000"/>
		<add key="step" value="500"/>
		<add key="cantidad" value="10"/>
		<add key="rutaFormato" value="~/Formato.xml"/>
		<add key="editHRef" value="Catalogo.aspx?action=edit&amp;id={0}"/>
		<add key="deleteHRef" value="Catalogo.aspx?action=delete&amp;id={0}"/>
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="AjaxControlToolkit"/>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
		</compilation>
		<authentication mode="Forms">
			<forms loginUrl="administracion/Login.aspx" defaultUrl="administracion/Panel.aspx" path="/"/>
		</authentication>
		<customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
			<error statusCode="403" redirect="NoAccess.htm"/>
			<error statusCode="404" redirect="FileNotFound.htm"/>
		</customErrors>
		<pages>
			<controls>
				<add tagPrefix="uc" tagName="BtnBackNext" src="~/UserControl/ButtonsBackNext.ascx"/>
				<add namespace="AjaxControlToolkit" tagPrefix="ajaxToolkit"/>
			</controls>
		</pages>
	</system.web>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" from="rockbass2560@gmail.com">
				<network defaultCredentials="false" host="smtp.gmail.com" port="587" userName="rockbass2560" password="Rock8809" enableSsl="true"/>
			</smtp>
		</mailSettings>
	</system.net>
</configuration>
